.search-page{
  margin: 100px auto;
  width: 80%;
  padding: 10px;
}

.type-filter{
  margin-top: 75px;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #0005;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.type-filter div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-filter > div > div{
  width: 100%;
  text-align: center;
}

.result-columns{
  display: flex;
}

.more-filters{
  margin-right: 10px;
  background: #000a;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  width: 25%;
  color: white;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.more-filters .button{
  width: calc(100% - 60px);
}

.results-page{
  width: 75%;
  color: white;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.result{
  background: #000a;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: #000 0 0 0px;
  transition: 0.1s;
}

.result-icon{
  height: calc(100% + 20px);
  width: 200px;
  background-position: center !important;
  background-size: cover !important;
  margin: -10px;
  margin-right: 10px;
  border-radius: 10px;
  mask-image: linear-gradient(to right, #000, #0005);
}

.result:hover > .result-icon{
  mask-image: linear-gradient(to right, #000, #000);
}

.result:hover{
  box-shadow: #000 0 0 10px;
}

.rating-format{
  display: inline-flex;
  align-items: center;
  width: calc(100% - 230px);
}

.result-desc{
  color: #aaa;
  font-size: 14px;
  height: 50px;
}

.result-title{
  font-size: 20px;
}

.result-branding{
  width: calc(100% - 200px);
}

.result-price{
  width: 100px;
  text-align: center;
  display: inline-block;
  transform: translateY(-10px);
}

.result-branding .button{
  width: 75px;
  text-align: center;
  transform: translateY(-20px);
}

.currency-selection{
  display: inline-block;
  padding: 10px 20px;
  background: #0005;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  margin: 5px;
  transition: 0.25s;
  border: 2px solid #111;
  color: white;
  font-size: 15px;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.currency-selection:hover{
  border: 2px solid #63fac3;
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.loader::after {
  content: '';  
  width: 96px;
  height: 4.8px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 0.6s ease-in-out infinite alternate;
}

.result-supported-devices{
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}

@media screen and (max-width: 1100px) {
  .result-columns{
    display: block;
  }

  .more-filters{
    width: calc(100% - 20px);
  }

  .headset-selection-list{
    display: flex;
  }

  .more-filter-headers{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more-filter-headers h2{
    width: 50%;
  }

  .more-filter-headers div{
    width: 50%;
  }

  .results-page{
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .type-filter > div{
    display: block;
  }

  .type-filter > div > .button{
    width: calc(100% - 55px);
  }

  .type-filter > div > select{
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 800px) {
  .headset-selection-list{
    display: block;
  }

  .more-filter-headers h2{
    width: 100%;
  }

  .more-filter-headers div{
    width: 100%;
  }

  .more-filter-headers{
    display: block;
  }

  .result{
    display: block;
    height: 450px;
  }

  .result-icon{
    height: 300px;
    width: calc(100% + 20px);
    margin: -10px;
    margin-bottom: 10px;
    mask-image: linear-gradient(to bottom, #000, #0005);
  }

  .result-branding{
    width: 100%;
  }

  .result .button{
    display: block;
    transform: none;
    width: calc(100% - 55px);
  }

  .rating-format{
    width: calc(100% - 100px);
  }

  .result-price{
    transform: translateY(-5px);
  }

  .result-mobile-shrink{
    height: 160px;
  }
}

@media screen and (max-width: 550px) {
  .result-desc{
    height: 100px;
  }

  .result{
    height: 500px;
  }

  .result-mobile-shrink{
    height: 210px;
  }
}

@media screen and (max-width: 375px) {
  .result-price{
    margin-left: -100%;
    transform: translateY(-175px) translateX(-15px);
    text-shadow: #000 0 0 5px;
  }

  .rating-format{
    width: 100%;
  }
}