


/* Loader */

.loaderContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.loaderSquare {
    position: absolute;
    top: 16%;
    left: 16%;
    width: 66%;
    height: 66%;
    border-radius: 14%;
    background-color: var(--textColor);
    z-index: 0;
    
    animation: linear loaderSquareSpin 3s infinite;
}

.loaderCircleHole {
    position: absolute;
    background-color: var(--bgColor);
    border-radius: 50%;
    width: 56%;
    height: 56%;
    top: 21.66%;
    left: 21.66%;
    z-index: 1;
}

.loaderMiddleCircle {
    position: absolute;
    background-color: var(--textColor);
    border-radius: 50%;
    width: 23.33%;
    height: 23.33%;
    top: 38.33%;
    left: 38.33%;
    z-index: 2;
}

.loaderSpinningCircle {
    position: absolute;
    background-color: var(--highlightedColor);
    border-radius: 50%;
    width: 15%;
    height: 15%;
    top: 42%;
    left: 42%;
    z-index: 3;
    
    animation: linear loaderSpinningCircleSpin 3s infinite;
}

.loaderBarTop {
    position: absolute;
    background-color: var(--highlightedColor);
    width: 66%;
    height: 3%;
    z-index: 3;
    left: 16%;

    animation: ease-in-out loaderBarTop 1.5s infinite;
}

.loaderBarBottom {
    position: absolute;
    background-color: var(--highlightedColor);
    width: 66%;
    height: 3%;
    z-index: 3;
    left: 16%;
    bottom: 0px;

    animation: ease-in-out loaderBarBottom 1.5s infinite;
}

.loaderBarLeft {
    position: absolute;
    background-color: var(--highlightedColor);
    width: 3%;
    height: 66%;
    z-index: 3;
    left: 0px;
    top: 16%;

    animation: linear loaderBarLeft 1.5s infinite;
}

.loaderBarRight {
    position: absolute;
    background-color: var(--highlightedColor);
    width: 3%;
    height: 66%;
    z-index: 3;
    right: 0px;
    top: 16%;

    animation: linear loaderBarRight 1.5s infinite;
}

@keyframes loaderBarRight {
    0% {
        top: 33%;
        opacity: 0;
        height: 33%;
    }
    10% {
        top:33%;
        opacity: 1;
        height: 33%;
    }
    40% {
        top: 33%;
        opacity: 1;
        height: 33%;
    }
    50% {
        height: 33%;
        opacity: 0;
        top: 33%;
    }
    50.0001% {
        top: 16%;
        opacity: 0;
        height: 66%;
    }
    60% {
        top: 16%;
        opacity: 1;
        height: 66%;
    }
    90% {
        top: 16%;
        opacity: 1;
        height: 66%;
    }
    100% {
        top: 16%;
        opacity: 0;
        height: 66%;
    }
    
}

@keyframes loaderBarLeft {
    0% {
        top: 16%;
        opacity: 0;
        height: 66%;
    }
    10% {
        top: 16%;
        opacity: 1;
        height: 66%;
    }
    40% {
        top: 16%;
        opacity: 1;
        height: 66%;
    }
    50% {
        top: 16%;
        opacity: 0;
        height: 66%;
    }
    50.0001% {
        top: 33%;
        opacity: 0;
        height: 33%;
    }
    60% {
        top: 33%;
        opacity: 1;
        height: 33%;
    }
    90% {
        top: 33%;
        opacity: 1;
        height: 33%;
    }
    100% {
        height: 33%;
        opacity: 0;
        top: 33%;
    }
}

@keyframes loaderBarBottom {
    0% {
        transform: translateX(-66%);
        opacity: 0;
    }
    15% {
        transform: translateX(0px);
        opacity: 1;
    }
    85% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(66%);
        opacity: 0;
    }
}

@keyframes loaderBarTop {
    0% {    
        transform: translateX(66%);
        opacity: 0;
    }
    15% {
        transform: translateX(0px);
        opacity: 1;
    }
    85% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-66%);
        opacity: 0;
    }
}


@keyframes loaderSpinningCircleSpin {
    0% {
        transform: rotate(0deg) translateX(-130%);
    }
    100% {
        transform: rotate(720deg) translateX(-130%);
    }
}

@keyframes loaderSquareSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}

/* Loader end */